version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/buildSrc"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/codegpt-core"
    schedule:
      interval: "daily"
